<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
		<link rel="stylesheet" type="text/css" href="../../../static/styles/foundation.css">
    <link rel="stylesheet" type="text/css" href="../../../static/styles/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <!-- Start Top Bar -->

      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="header-logo">
              <a href="http://localhost:5000/regions"><img src="https://d2ltgdq21v5def.cloudfront.net/assets/logo-dark-no-tagline-30cfc772aa26c3d8c6bfdb9fc155e6728fda70ec3f9177e7654cae48d842e2f1.png"/></a>
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#">Sign-up</a></li>
            <li><a href="#" class="button">Login</a></li>
          </ul>
        </div>
      </div>
  <!-- End Top Bar -->

      <div class="callout large primary">
      <div class="profile-picture">
        <img src="https://i.ebayimg.com/images/g/BegAAMXQydtTOYQO/s-l300.jpg" alt="{{region.name}}">
      </div>
      <div class="text-center">
        <h3 id=profile_name>{{region.name}}</h3>
      </div>
      </div>

			<a href = "{{url_for('newImpactEntry', region_id = region.id )}}">Create New Impact Entry</a>
			<br> </br>
			<a href = "{{url_for('showRegionDashboard', region_id = region.id )}}">See Region Impact Dashboard</a>



      {% for i in impact %}

      <article class="grid-container">
      <div class="grid-x align-center">
        <div class="cell medium-8">

          <div class="blog-post">
            <span class="post-picture">
              <img src="{{i.user.picture}}" alt="{{i.user.name}}">
            </span>
            <span><h3 id=impact_description>{{i.name}} <small>3/6/2016</small></h3></span>

            <table class="impact-table">
              <tr>
                <td><i class="fa fa-clock-o"></i></td>
                <td><strong>Hours Volunteered:</strong></td>
                <td>{{i.hours}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-euro"></i></td>
                <td><strong>Funding Raised:</strong></td>
                <td>{{i.funding_amount}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-building"></i></td>
                <td><strong>Organisation:</strong></td>
                <td>{{i.organisation}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-cloud"></i></td>
                <td><strong>Theme:</strong></td>
                <td>{{i.category}}</td>
              </tr>
            </table>

            <img class="thumbnail" src="{{i.picture}}">
            <p>{{i.notes}}</p>
            <div class="callout">
              <ul class="menu simple">
                <li><a href="#">Author: {{i.user.name}}</a></li>
                <li><a href="#">Comments: 3</a></li>
								<li><a href='{{url_for('editImpactEntry', region_id = region.id, impact_id=i.id ) }}'>Edit</a></li>
								<li><a href='{{url_for('deleteImpactEntry', region_id = region.id, impact_id=i.id ) }}'>Delete</a></li>
              </ul>
            </div>
          </div>
        </div>

        {% endfor %}


      </article>
  </body>
</html>
