<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/foundation.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
    0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
    mixpanel.init("39c50c9ebffb3bd56f5375475546b405");</script><!-- end Mixpanel -->
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="header-logo">
            <a href="{{url_for('showRegion')}}"><img src="https://d2ltgdq21v5def.cloudfront.net/assets/logo-dark-no-tagline-30cfc772aa26c3d8c6bfdb9fc155e6728fda70ec3f9177e7654cae48d842e2f1.png"/></a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          {% if login_session['access_token'] != null %}
          <li class="header-profile">
            <a href="{{url_for('showProfile',user_id = login_session['user_id'])}}"><img src="{{login_session['picture']}}"/></a>
          </li>
          <li><a href="{{url_for('gdisconnect')}}" id="log_out">Log Out</a></li>
          {% else %}
          <li><a href="{{url_for('userLogin')}}" class="button"><strong>Login</strong></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      mixpanel.track_links("#log_out","logged Out");
   </script>
  <!-- End Top Bar -->

      <div class="callout large primary">
      <div class="text-center">
        {% for hours in total_hours[:1] %}
        <button name ="submit" value="1" type="submit" class="button" id="stat_card"><i class="fa fa-clock-o"></i>  {{hours}} Volunteer Hours </button>
        {% endfor %}
        <button name ="submit" value="1" type="submit" class="button" id="stat_card"><i class="fa fa-euro"></i>  {{total_funding[0]}} Fundraised </button>
        <button name ="submit" value="1" type="submit" class="button" id="stat_card"><i class="fa fa-cloud"></i>  4 Followers </button>
      </div>
      <div class="profile-picture">
        <img src="{{user_profile.picture}}" alt="Niall O'Hara">
      </div>
      <div class="text-center">


        <h3 id=profile_name>{{user_profile.name}}</h3>

        {% if session_friendship.follower != null %}
        <form><button name ="submit" value="1" type="submit" class="button">Followed</button></form>

        {% else %}
        <form action="{{ url_for('showProfile', user_id=user_profile.id )}}" method="post">
            <input type='hidden' name="follower" value="{{login_session['user_id']}}">
            <input type='hidden' name="followed" value="{{user_profile.id}}">
            <button name ="submit" value="1" type="submit" class="button">Follow</button>
        </form>
        {% endif %}

        <script type="text/javascript">
          mixpanel.track_forms('#friend_follow', 'Followed Friend');
        </script>

        {% for friend in friendships[:4] %}
          <span class="friend-picture"> <a href="{{url_for('showProfile',user_id = friend.follower)}}">  <img src="{{friend.user.picture}}"></a></span>
        {% endfor %}

          <span> <h5 id=location>{{user_profile.job_title}}, {{user_profile.location }}</h5> </span>
          <span > <h5 id=email>{{user_profile.email}}</h5> </span>
          <span> <a href="{{user_profile.linkedin_profile}}"> <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png" alt="{{user_profile.name }}" width="30" height="30"></a></span>
          <span> <a href="{{user_profile.twitter_profile}}"> <img src="https://cdn2.iconfinder.com/data/icons/minimalism/512/twitter.png" alt="{{user_profile.name }}" width="50" height="50"></a></span>
          <span> <a href="{{user_profile.facebook_profile}}"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" alt="{{user_profile.name }}" width="30" height="30"></a></span>
      </div>
      </div>


      {% for impact in impact_enteries %}

      <article class="grid-container">
      <div class="grid-x align-center">
        <div class="cell medium-8">

          <div class="blog-post">
            <span class="post-picture">
              <img src="{{user_profile.picture}}" alt="{{user_profile.name}}">
            </span>
            <span><h3 id=impact_description>{{impact.name}} <small>3/6/2016</small></h3></span>

            <table class="impact-table">
              <tr>
                <td><i class="fa fa-clock-o"></i></td>
                <td><strong>Hours Volunteered:</strong></td>
                <td>{{impact.hours}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-euro"></i></td>
                <td><strong>Funding Raised:</strong></td>
                <td>{{impact.funding_amount}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-building"></i></td>
                <td><strong>Organisation:</strong></td>
                <td>{{impact.organisation}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-cloud"></i></td>
                <td><strong>Theme:</strong></td>
                <td>{{impact.category}}</td>
              </tr>
            </table>

            <img class="thumbnail" src="{{impact.picture}}">
            <p>{{impact.notes}}</p>
            <div class="callout">
              <ul class="menu simple">
                <li><a href="#">Author: {{user_profile.name}}</a></li>
                <li><a href="#">Comments: 3</a></li>
              </ul>
            </div>
          </div>
        </div>

      {% endfor %}


      </article>
  </body>
</html>
