<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
		<link rel="stylesheet" type="text/css" href="../../../static/styles/foundation.css">
    <link rel="stylesheet" type="text/css" href="../../../static/styles/app.css">
    <link  type="text/javascript" href="../../../static/js/app.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
    0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
    mixpanel.init("39c50c9ebffb3bd56f5375475546b405");</script><!-- end Mixpanel -->
  </head>

  <body>
    <!-- Start Top Bar -->

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="header-logo">
            <a href="{{url_for('showRegion')}}"><img src="https://d2ltgdq21v5def.cloudfront.net/assets/logo-dark-no-tagline-30cfc772aa26c3d8c6bfdb9fc155e6728fda70ec3f9177e7654cae48d842e2f1.png"/></a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          {% if login_session['access_token'] != null %}
          <li class="header-profile">
            <a href="{{url_for('showProfile',user_id = login_session['user_id'])}}"><img src="{{login_session['picture']}}"/></a>
          </li>
          <li><a href="{{url_for('gdisconnect')}}" id="log_out">Log Out</a></li>
          {% else %}
          <li><a href="{{url_for('userLogin')}}" class="button"><strong>Login</strong></a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <script type="text/javascript">
      mixpanel.track_links("#log_out","logged Out");
   </script>
  <!-- End Top Bar -->

      <div class="callout large primary">
      <div class="profile-picture">
        <img src="https://i.ebayimg.com/images/g/BegAAMXQydtTOYQO/s-l300.jpg" alt="{{region.name}}">
      </div>
      <div class="text-center">
        <h3 id=profile_name>{{region.name}}</h3>
        {% if region.user_id == login_session['user_id'] %}
        <p><a href = "{{url_for('showRegionDashboard', region_id = region.id )}}">(Visit Impact Dashboard)</a></p>
        <span><a href = "{{url_for('editRegion',region_id = region.id)}}">Edit Region</a></span>
        <span><a href = "{{url_for('deleteRegion',region_id = region.id)}}">Delete Region</a> </span>
        {% else %}
        <p><a href = "{{url_for('showRegionDashboard', region_id = region.id )}}">(Visit Impact Dashboard)</a></p>
        {% endif %}

      </div>
      </div>




      <article class="grid-container">
      <div class="grid-x align-center">
        <div class="cell medium-8">
          <h3 id=new_impact_entry>New Impact Entry</h3>

          <div class = 'pane'>
          <form action="{{ url_for('showImpact', region_id=region_id )}}" method = 'post' id='new_impact_post'>

          <dl>
            <dt>Name:</dt>
              <dd><input type ='text' size='30' id='name' name='name' required></dd>
            <dt>Hours:</dt>
              <dd><input type ='text' size='30' id='hours' name='hours' required></dd>
            <dt>Funding Amount:</dt>
              <dd><input type ='text' size='30' id='funding_amount' name='funding_amount' required></dd>
            <dt>Organisation:</dt>
               <dd><input type ='text' size='30' id='organisation' name='organisation' required></dd>
            <dt>Address:</dt>
              <dd><input type = 'text' size = '30' id='address' name='address' required></dd>
            <dt>Picture:</dt>
              <dd><input type = 'text' size = '30' id='picutre' name='picture' required></dd>
              <dd><input type = 'hidden' size = '30' id='user_id' name='user_id' value={{login_session['user_id']}}></dd>
            <dt>Notes:</dt>
              <dd><textarea name = 'notes' rows='5' cols='30' id='notes' required></textarea></dd>

            <dt>Category:</dt>
              <dd><input type ='radio' name='category' value='Homelessness' checked>Other</dd>
              <dd><input type ='radio' name='category' value='Homelessness'>Homelessness</dd>
              <dd><input type ='radio' name='category' value='Social Isolation'>Social Isolation</dd>
              <dd><input type ='radio' name='category' value='Eduction'>Education</dd>
              <dd><input type ='radio' name='category' value='Enviornment'>Enviornment</dd>
          </dl>


          <input type='submit' value='Create'>

          </form>
          <script type="text/javascript">
            mixpanel.track_forms('#new_impact_post', 'Submit Impact Post', captureData());

            function captureData() {
                var input_hours = document.getElementById("hours");
                return {hours: input_hours.value};
              };

          </script>
          </div>



          <form class="callout text-center">

					{% for i in impact %}
          <div class="blog-post">
            {% if i.user_id == True %}
            <span class="post-picture">
            <a href="{{url_for('showProfile',user_id = i.user_id)}}">  <img src="{{i.user.picture}}" alt="{{i.user.name}}"></a>
            </span><span><h3 id=impact_description>{{i.name}} <small>3/6/2016</small></h3></span>
            {% else %}
            <span class="post-picture">
            <a href="#">  <img src="{{i.user.picture}}" alt="{{i.user.name}}"> </a>
            </span><span><h3 id=impact_description>{{i.name}} <small>3/6/2016</small></h3></span>
            {% endif %}


            <table class="impact-table">
              <tr>
                <td><i class="fa fa-clock-o"></i></td>
                <td><strong>Hours Volunteered:</strong></td>
                <td>{{i.hours}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-euro"></i></td>
                <td><strong>Funding Raised:</strong></td>
                <td>{{i.funding_amount}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-building"></i></td>
                <td><strong>Organisation:</strong></td>
                <td>{{i.organisation}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-cloud"></i></td>
                <td><strong>Theme:</strong></td>
                <td>{{i.category}}</td>
              </tr>
            </table>

            <img class="thumbnail" src="{{i.picture}}">
            <p>{{i.notes}}</p>
            <div class="callout">
              <ul class="menu simple">
                {% if i.user_id == True %}
                <li><a href="{{url_for('showProfile',user_id = i.user_id)}}">Author: {{i.user.name}}</a></li>
                {% else %}
                <li><a href="#">Author: {{i.user.name}}</a></li>
                {% endif %}

                {% if i.user_id == login_session['user_id'] %}
                <li><a href="#">Comments: 3</a></li>
								<li><a href='{{url_for('editImpactEntry', region_id = region.id, impact_id=i.id ) }}'>Edit</a></li>
								<li><a href='{{url_for('deleteImpactEntry', region_id = region.id, impact_id=i.id ) }}' id='delete_post'>Delete</a></li>

                {% else %}
                <li><a href="#">Comments: 3</a></li>
                {% endif %}
              </ul>
            </div>
          </div>

        {% endfor %}


      </article>
  </body>
</html>
